<!DOCTYPE html>

<html>
	<head>
		<title>Welcome to Angular.js!</title>
		<script src="js/jquery.js"></script>
		<script src="js/angular.js"></script>
		<style>

			/* input.ng-invalid.ng-dirty {
				border: 3px red solid;
			} */

			.red-box {
				border: 3px red solid;
			}

		</style>
	</head>
	<body>
		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">
				<form name="contactForm" novalidate ng-submit="submitForm()">

					<table>
						<thead>
							<tr>
									<th>Name</th>
									<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="person in people" ng-form="personForm">
								<td><input name="personName" ng-model="person.name"></td>
								<td><input type="email" name="personEmail" ng-model="person.email" required
									ng-class="{'red-box':personForm.personEmail.$invalid && personForm.personEmail.$dirty}"></td>
							</tr>
						</tbody>
					</table>

					<button type="button" ng-click="submitForm()">Submit</button>
				</form>
			</div>
		</div>
		<script>

			angular.module("MyApp", [])
				.controller("MyCtrl", function($scope) {

					$scope.people = [
						{ name: "John", email: "" },
						{ name: "Bill", email: "" },
						{ name: "Tom", email: "" },
						{ name: "Fred", email: "" },
						{ name: "Jim", email: "" },
					];

					$scope.submitForm = function() {
						console.dir($scope.people);
					};

				});

		</script>
	</body>
</html>
