<!DOCTYPE html>

<html>
	<head>
		<title>Welcome to Angular.js!</title>
		<script src="js/jquery.js"></script>
		<script src="js/angular.js"></script>
	</head>
	<body>
		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">

				{{message}}<br><br>
				<input ng-model="message">
				<button ng-click="clickMe()">Click Me</button>

			</div>
		</div>
		<script src="js/app/app.js"></script>
		<script src="js/app/app.constants.js"></script>
		<script src="js/app/controllers/app.myctrl.ctrl.js"></script>
		<script src="js/app/app.init.js"></script>
	</body>
</html>
